---
- hosts: zeus
  become: yes
  #become_user: root
  become_method: sudo

  tasks:
    - name: Add prometheus user
      user:
        name: prometheus
        system: yes
        createhome: no
        shell: /bin/false
  
    - name: Add docker user to a super user
      command: usermod -aG docker prometheus

    - name: Create /data directory
      file:
        path: /data
        state: directory
        owner: prometheus
        group: prometheus
        mode: '0755'  # Adjust the permissions as needed

    - name: Create /etc/prometheus directory
      file:
        path: /etc/prometheus
        state: directory
        owner: prometheus
        group: prometheus
        mode: '0755'  # Adjust the permissions as needed

    - name: Download a file
      get_url:
        url: "https://github.com/prometheus/prometheus/releases/download/v2.32.1/prometheus-2.32.1.linux-amd64.tar.gz"
        dest: "/"


   # - name: list all content of pwd
   #   command: ls -ltr /

    - name: Extract Prometheus tar.gz
      ansible.builtin.unarchive:
        src: /prometheus-2.32.1.linux-amd64.tar.gz  # source path
        dest: /                  # destination folder
        remote_src: yes


    - name: list all content of /prometheus-2.32.1.linux-amd64
      command: ls -ltr /prometheus-2.32.1.linux-amd64

  #  - name: List users
  #    command: getent passwd
   #   register: users_list
   # - debug:
   #     var: users_list.stdout_lines




    - name: Change directory into prometheus
      ansible.builtin.shell: cd /prometheus-2.32.1.linux-amd64
      args:
        executable: /bin/bash  # Specify the shell to use if needed
      register: change_dir_result

    - name: Display Result
      ansible.builtin.debug:
        var: change_dir_result.stdout_lines
 


    - name: move prometheus folder and promtool folders into usr/local/bin 
      command: mv /prometheus-2.32.1.linux-amd64/prometheus /prometheus-2.32.1.linux-amd64/promtool /usr/local/bin/
      ignore_errors: yes

    - name: move consoles and console_libraries folders into /etc/prometheus
      command: "mv /prometheus-2.32.1.linux-amd64/consoles /prometheus-2.32.1.linux-amd64/console_libraries /etc/prometheus/"
      ignore_errors: yes

    
    - name: move prometheus.yml file into /etc/prometheus
      command: "mv /prometheus-2.32.1.linux-amd64/prometheus.yml /etc/prometheus/prometheus.yml"
      ignore_errors: yes 



    - name: Pause for 1 minutes to finish downloading
      ansible.builtin.pause:
        minutes: 1

    - name: Change ownership of /etc/prometheu and /data folders to prometheus user
      command: "chown -R prometheus:prometheus /etc/prometheus/ /data/"
  

    - name: prometheus version
      command: prometheus --version



    #- name: Change ownership recursively
    #  ansible.builtin.file:
     #   path: ~/hr-management/
    #    owner: prometheus
    #    group: prometheus
    #    recurse: yes
    #  become: yes


    - name: Fetch file from monitoring server to Ansible control machine
      ansible.builtin.fetch:
        src: prometheus.service 
        dest: /home/ubuntu/prometheus.service 
        

    - name: move prometheus.service into /etc/systemd/system/
      command: "mv /home/ubuntu/prometheus.service /etc/systemd/system/prometheus.service"
       

    - name: Add Prometheus APT Repository
      apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present

    - name: enable prometheus 
      command: sudo systemctl enable prometheus

    - name: Start Prometheus Service
      systemd:
        name: prometheus
        state: started
        enabled: yes
