---
- hosts: zeus
  become: yes
  #become_user: root
  become_method: sudo

  tasks:
    - name: Add prometheus user
      user:
        name: prometheus
        system: yes
        createhome: no
        shell: /bin/false
  
    - name: Add docker user to a super user
      command: usermod -aG docker prometheus

    - name: Create /data directory
      file:
        path: /data
        state: directory
        owner: prometheus
        group: prometheus
        mode: '0755'  # Adjust the permissions as needed

    - name: Create /etc/prometheus directory
      file:
        path: /etc/prometheus
        state: directory
        owner: prometheus
        group: prometheus
        mode: '0755'  # Adjust the permissions as needed

    - name: Download a file
      get_url:
        url: "https://github.com/prometheus/prometheus/releases/download/v2.32.1/prometheus-2.32.1.linux-amd64.tar.gz"
        dest: "/"


    - name: list all content of pwd
      command: ls -ltr /

    - name: Extract Prometheus tar.gz
      ansible.builtin.unarchive:
        src: /prometheus-2.32.1.linux-amd64.tar.gz  # source path
        dest: /                  # destination folder
        remote_src: yes


    - name: list all content of /prometheus-2.32.1.linux-amd64
      command: ls -ltr /prometheus-2.32.1.linux-amd64

    - name: List users
      command: getent passwd
      register: users_list
    - debug:
        var: users_list.stdout_lines




    - name: Change directory into prometheus
      ansible.builtin.shell: cd /prometheus-2.32.1.linux-amd64
      args:
        executable: /bin/bash  # Specify the shell to use if needed
      register: change_dir_result

    - name: Display Result
      ansible.builtin.debug:
        var: change_dir_result.stdout_lines
 
    - name: move prometheus folder and promtool folders into usr/local/bin 
      command: mv prometheus promtool /usr/local/bin/

    - name: move consoles and console_libraries folders into /etc/prometheus
      command: "mv consoles/ console_libraries/ /etc/prometheus/"
     

    
    - name: move prometheus.yml file into /etc/prometheus
      command: "mv consoles/ console_libraries/ /etc/prometheus/"
 


    - name: Change ownership of /etc/prometheu and /data folders to prometheus user
      command: "chown -R prometheus:prometheus /etc/prometheus/ /data/"
 

    - name: list content of pwd
      command: sudo ls

    - name: prometheus version
      command: prometheus --version

    - name: move prometheus.service into /etc/systemd/system/
      command: "mv prometheus.service /etc/systemd/system/prometheus.service"
       

    - name: Add Prometheus APT Repository
      apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present

    - name: enable prometheus 
      command: sudo systemctl enable prometheus

    - name: Start Prometheus Service
      systemd:
        name: prometheus
        state: started
        enabled: yes
